<header>
  <div class="header-logo">
    <a href="/">スエマス</a>
  </div>
  <ul class="header-menus">
    <li>
     <a href="/about">スエマスとは</a>
    </li>
  </ul>
</header>
<div class="about-main">
  <h2>スエマスとは</h2>
  <p>
    飲食店検索サービスです。
    タバコを吸いながらお酒が飲めるお店を検索できます。
  </p>
</div>
